.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow: hidden;
}

.bar {
  position: absolute;
  transform: scaleX(1) translateY(0px);
  width: 10%;
  transition: transform 1s;
  transition-timing-function: linear;
  height: 40px;
  transform-origin: 0% 0%;
  margin-bottom: 10px;
  overflow: hidden;
}
